div(data-ng-repeat="category in menu.categories | orderBy:'orderInMenu':false track by category.id")
    .jarviswidget
        header(data-ng-style='{"background-color": "{{customMenuColors.secondary}}", "color": "{{customMenuColors.secondaryContrast}}"}')
            h2 {{category.name}}
        section
            .widget-body.col-xs-12
                p {{category.notes}}
                .table-responsive
                    table.table.table-bordered.bg-color-white
                        tbody(data-ng-repeat="item in category.menuItems | orderBy:'orderInCategory': false track by item.id" )
                            tr(data-ng-style='{"background-color": "{{customMenuColors.primary}}", "color": "{{customMenuColors.primaryContrast}}"}' data-ng-class="{unavailable: !item.isAvailable}")
                                td
                                    span
                                        b= ' ' + '{{item.name}}'
                                td
                                    div Price

                            tr(data-ng-class="{unavailable: !item.isAvailable}")
                                td.big-cell
                                    span {{item.notes}}
                                td
                                    span {{item.price | currency:"$":2}}