div
    img.img-responsive(data-ng-src='{{displayImage}}', alt='Profile Image')
    section
        .input.input-file
            span.button Change Image
                input(type='file', data-nv-file-select='', data-uploader='uploader')
            input(style="visibility: hidden")
    section
        .progress(data-ng-show='progress')
            .progress.progress-striped.active
                .progress-bar.bg-color-darken(role='progressbar', style="width: {{progress}}%")
