div
    div(data-ng-show='imageLoading', class='progress-cssSlideUp')
        .progress
            .progress.progress-striped.active
                .progress-bar.indeterminate.bg-color-darken(role='progressbar') Loading Image
    div(class='image-cssSlideRight', data-ng-hide='imageLoading')
        img.img-responsive(data-ng-src='{{displayImage}}', alt='Profile Image', image-loader='', data-mysrc='displayImage', data-is-loading='imageLoading')
    section
        .input.input-file
            span.button Change Image
                input(type='file', data-nv-file-select='', data-uploader='uploader')
            input(style="visibility: hidden")
    section
        .progress(data-ng-show='progress')
            .progress.progress-striped.active
                .progress-bar.bg-color-darken(role='progressbar', style="width: {{progress}}%")
