div
    form(action='/newMenuItem', method='post', role='form')
        div.form-group(style='margin:10px; width:25%;')
            //label(for='menuItemName', class='form-inline', style='margin:10px') Item Name
            input.form-control(id='itemName', type='text', placeholder='Item Name')
        div.form-group(style='margin:10px; width:25%;')
            div(class='input-group')
                //label.form-control.col-md-1(for='menuItemPrice') Price
                div.input-group-addon $
                input.form-control(id='itemPrice', type='text', placeholder='Price')
        div.checkbox(style='margin:10px; width:25%')
            //label(for='menuItemInStock', class='form-inline', style='margin:10px') In-Stock
            input(id='itemInStock', type='checkbox', style='margin-left:10px')