.tm-main
    #content.container-fluid
        .col-md-8.col-md-offset-2.col-xs-12
            .jarviswidget.background-white-transparent.jarviswidget-color-blueDark
                header
                    h2 About TruckMuncher
                section
                    .widget-body.background-transparent.col-xs-12
                        div.container-fluid
                            p
                            p We are "a group of MSOE senior design students" with an ambitious project to make food trucks more accessible to Milwaukeeians.
                                | TruckMuncher is Milwaukee's ultimate food truck hub! TruckMuncher is the only unified system in Milwaukee that offers food trucks the ability to publish their menus, customize their profiles, and report their locations. Users are able to see this information through the use of either an Android app, an iOS app, or on the web.
                            p We'd like to hear what you think if you have feedback. Email us at
                                a(href='mailto:support@truckmuncher.com')= ' support@truckmuncher.com'
                            small
                                div
                                    u Boring Legal Things
                                    br
                                    | View TruckMuncher, LLC's
                                    a(data-ui-sref='privacyPolicy.detail({name: "main"})', title="Privacy Policy")= ' Privacy Policy'
                                    <div>Menu food identification icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
