#footer
    .navbar.navbar-inverse(style="z-index:1030; bottom: 0;")
        .navbar-header

        .collapse.navbar-collapse(style="float:right")
            ul.nav.navbar-nav(style="font-size: 1.25em")
                li
                    a(data-ui-sref='map', title="Map") Map
                li
                    a(data-ui-sref='privacyPolicy.detail({name: "main"})', title="Privacy Policy") Privacy Policy
