.container-fluid
    span.center-span
        img.center-logo(src='img/logo4.png', alt='SmartAdmin')
    .center-header
        | Welcome to TruckMuncher!


.col-md-4.col-sm-12.col-xs-12.col-md-offset-4
    .panel
        .panel-heading.text-center
            h2 Please sign in:
        .panel-body.text-center
            .row
                div
                    a.btn.btn-primary(id="facebookBtn", href='/auth/facebook')
                        i.fa.fa-facebook= '  Facebook'
                    a.btn.btn-primary(id="twitterBtn", href='/auth/twitter')
                        i.fa.fa-twitter= '  Twitter'


