.row
    .col-xs-12.col-lg-4.col-lg-offset-4
        .jarviswidget.jarviswidget-color-blueDark
            header
                h2 Sign in:
            div
                .widget-body
                    a(href='/auth/facebook' class='btn btn-primary')
                        i.fa.fa-facebook= '  Facebook'
                    a(href='/auth/twitter' class='btn btn-primary')
                        i.fa.fa-twitter= '  Twitter'