//#panel-left
.tm-main
    #content.container-fluid
        .col-lg-4.col-md-6.col-sm-10.col-xs-12.col-lg-offset-4.col-md-offset-3.col-sm-offset-1(style="margin-top:200px")
            .panel#login-panel
                .panel-heading.text-center
                    h4 welcome to
                    h1#login-logo-font.logo-font TruckMuncher
                .panel-body.text-center
                    .row.form-group
                        a.btn.loginBtn.facebook.hidden-sm.hidden-xs(href='/auth/facebook')
                            i.fa.fa-facebook= '  Sign In with Facebook'
                        a.btn.loginBtn.facebook.hidden-lg.hidden-md(href='/auth/facebook')
                            i.fa.fa-facebook= '  Facebook'
                    .row
                        a.btn.loginBtn.twitter.hidden-sm.hidden-xs(href='/auth/twitter')
                            i.fa.fa-twitter= '  Sign In with Twitter'
                        a.btn.loginBtn.twitter.hidden-lg.hidden-md(href='/auth/twitter')
                            i.fa.fa-twitter= '  Twitter'
