div(data-ng-controller='navCtrl')
    .tm-main(data-ng-class="{'with-left-panel': loggedIn()}")
        #wrapper
            #sidebar-wrapper.bg-color-mold(data-ng-show="loggedIn()")
                .container-fluid.make-space-for-logo.ignore-padding-right
                    <div data-ng-include="'/partials/vendors/panelLeftMenu.jade'"></div>

            #top-nav-wrapper
                <div data-ng-include="'/partials/nav.jade'"></div>

            #content.container-fluid
                .row(style="padding-top: 50px")
                    article(data-ng-style="{'height': '{{mapHeight}}'}")
                        ui-gmap-google-map(center="map.center", zoom="map.zoom", draggable="true", options="map.options", data-ng-style="{'height': '{{mapHeight}}'}")
                            ui-gmap-marker(data-ng-repeat='marker in truckMarkers', idKey='marker.id', coords="marker.coords", icon="marker.icon", data-click='showMarkerWindow(marker.id)' )
                                ui-gmap-window(data-show='marker.show', templateUrl='"/partials/infoWindow.jade"', templateParameter='{marker: marker, showMenuCallback: testFn}')
