.row
    article
        ui-gmap-google-map(center="map.center", zoom="map.zoom", draggable="true", options="map.options")
            ui-gmap-markers(models="randomMarkers", icon="'icon'", coords="'self'", click="'onClick'")
                ui-gmap-windows(show="'show'", ng-cloak, templateUrl="views/partials/windowTemplate", templateParameter="{message: 'something'}")


                    div(ng-non-bindable)
                        {{title}}