#nav-top(data-ng-controller='navCtrl')
    .navbar.navbar-inverse(style="margin:0;")
        .navbar-header
            //img.navbar-brand(src='/img/ic_launcher.png', alt='TruckMuncher')

            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

        #navbar-collapse.collapse.navbar-collapse

            ul.nav.navbar-nav(style="font-size: 1.25em")
                li
                    a(data-ui-sref='vendorProfile', ui-sref-active="active", data-ng-show='loggedIn()')
                        i.fa.fa-lg.fa-fw.fa-truck
                        span.menu-item-parent Profile
                li
                    a(data-ui-sref='menu', ui-sref-active="active", data-ng-show='loggedIn()')
                        i.fa.fa-lg.fa-fw.fa-bars
                        span.menu-item-parent My Menu
                li
                    a(data-ui-sref='map')
                        i.fa.fa-lg.fa-fw.fa-map-marker
                        span.menu-item-parent Map

            ul.nav.navbar-nav.navbar-right(style="font-size: 1.25em")
                li
                    span.login-out(data-ng-show='loggedIn()')
                        span
                            a(href="/beta/logout")
                                i.fa.fa-lg.fa-sign-out
                                |  Sign out
                    span.login-out(data-ng-hide='loggedIn()')
                        span
                            a(href="/beta/logout")
                                i.fa.fa-lg.fa-sign-in
                                |  Sign in



    script.
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("hidden-xs-animated")
        });


    //a#menu-toggle.container-fluid.show-panel.fa-2x.visible-xs-block(href="#menu-toggle")
    //    i.fa.fa-align-justify
    //
    //.container-fluid.login-out
    //    div
    //        span(data-ng-show='loggedIn()')
    //            span
    //                a.nav-bar-sign(href="/beta/logout")
    //                    i.fa.fa-sign-out
    //                    |  Sign out
    //        span(data-ng-hide='loggedIn()')
    //            span
    //                a.nav-bar-sign(href="/beta/logout")
    //                    i.fa.fa-sign-in
    //                    |  Sign in
    //
    //script.
    //    $("#menu-toggle").click(function(e) {
    //        e.preventDefault();
    //        $("#sidebar-wrapper").toggleClass("hidden-xs-animated")
    //    });
