#nav-top(data-ng-controller='navCtrl')

    a#menu-toggle.container-fluid.show-panel.fa-2x.visible-xs-block(href="#menu-toggle")
        i.fa.fa-align-justify

    .container-fluid.login-out
        div
            span(data-ng-show='loggedIn()')
                span
                    a.nav-bar-sign(href="/beta/logout")
                        i.fa.fa-sign-out
                        |  Sign out
            span(data-ng-hide='loggedIn()')
                span
                    a.nav-bar-sign(href="/beta/logout")
                        i.fa.fa-sign-in
                        |  Sign in

    script.
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("hidden-xs-animated")
        });
