#nav-top(data-ng-controller='navCtrl')
    .navbar.navbar-inverse(style="margin:0;")
        .navbar-header
            img.navbar-brand.pointer(src='/img/logo.png', alt='TruckMuncher Map', data-ui-sref='map')

            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

        #navbar-collapse.collapse.navbar-collapse

            ul.nav.navbar-nav(style="font-size: 1.25em")
                li
                    span.nav-items
                        a(data-ui-sref='map')
                            i.fa.fa-lg.fa-fw.fa-map-marker(style="color:gray;")
                            span.menu-item-parent(style="color:gray;") Map
                li
                    span.nav-items
                        a(data-ui-sref='truckProfiles' title="All Trucks")
                            i.fa.fa-lg.fa-fw.fa-users(style="color:gray;")
                            span.menu-item-parent(style="color:gray;") All Trucks
                li
                    span.nav-items
                        a(data-ui-sref='vendorProfile', ui-sref-active="active", data-ng-show='loggedIn()')
                            i.fa.fa-lg.fa-fw.fa-truck(style="color:gray;")
                            span.menu-item-parent(style="color:gray;") Profile
                li
                    span.nav-items
                        a(data-ui-sref='menu', ui-sref-active="active", data-ng-show='loggedIn()')
                            i.fa.fa-lg.fa-fw.fa-bars(style="color:gray;")
                            span.menu-item-parent(style="color:gray;") My Menu

            ul.nav.navbar-nav.navbar-right(style="font-size: 1.25em")
                li
                    span.nav-items
                        a(data-ui-sref='about', title="About") About
                li
                    span.login-out(data-ng-show='loggedIn()')
                        span
                            a(href="/beta/logout")
                                i.fa.fa-lg.fa-sign-out
                                |  Sign out
                    span.login-out(data-ng-hide='loggedIn()')
                        span
                            a(href="/beta/logout")
                                i.fa.fa-lg.fa-sign-in
                                |  Sign in

    script.
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("hidden-xs-animated")
        });