#nav-top(data-ng-controller='navCtrl')
    #navbar.navbar.navbar-inverse(style="margin:0;")
        .navbar-header
            img.navbar-brand.pointer(src='/img/logo.png', alt='TruckMuncher Map', data-ui-sref='map')

            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

        #navbar-collapse.collapse.navbar-collapse

            ul.nav.navbar-nav
                li
                    span.nav-items
                        a(data-ui-sref='map' data-ui-sref-active='menu-active')
                            i.fa.fa-lg.fa-fw.fa-map-marker
                            span Map
                li
                    span.nav-items
                        a(data-ui-sref='truckProfiles' data-ui-sref-active='menu-active' title="All Trucks")
                            i.fa.fa-lg.fa-fw.fa-users
                            span All Trucks
                li( data-ng-show='loggedIn() && isVendor()')
                    span.nav-items
                        a(data-ui-sref='vendorProfile', ui-sref-active="menu-active")
                            i.fa.fa-lg.fa-fw.fa-truck
                            span Truck Profile
                li( data-ng-show='loggedIn() && isVendor()')
                    span.nav-items
                        a(data-ui-sref='menu', ui-sref-active="menu-active")
                            i.fa.fa-lg.fa-fw.fa-bars
                            span Truck Menu
                li(data-ng-show='loggedIn()')
                    span.nav-items
                        a(data-ui-sref='userProfile', ui-sref-active="menu-active")
                            i.fa.fa-lg.fa-fw.fa-user
                            span My Profile

            ul.nav.navbar-nav.navbar-right
                li
                    span.nav-items
                        a(data-ui-sref='about' data-ui-sref-active='menu-active' title="About")
                            i.fa.fa-lg.fa-fw.fa-question-circle
                            | About
                li
                    span.nav-items(data-ng-show='loggedIn()')
                        a(href="/logout")
                            i.fa.fa-lg.fa-sign-out
                            |  Sign out
                    span.nav-items(data-ng-hide='loggedIn()')
                        a(href="/logout")
                            i.fa.fa-lg.fa-sign-in
                            |  Sign in

    script.
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("hidden-xs-animated")
        });