#wrapper
   #sidebar-wrapper.bg-color-mold
      .container-fluid.make-space-for-logo.ignore-padding-right
         div(data-ng-include="'/partials/shared/panelLeftMenu.jade'")
         .col-xs-12(style="padding-top: 30px;")
            .input-group.form-group
               input.form-control(data-ng-model='searchQuery', data-ng-disabled='loading' data-ng-keyup="searchQuery.length > 0 && $event.keyCode == 13 && simpleSearch(searchQuery)")
               span.input-group-btn
                  button.btn.bg-color-pink.txt-color-white(type='button', data-ng-disabled='loading', data-ng-click='simpleSearch(searchQuery)') Search
            .progress(data-ng-show='loading')
               .progress.progress-striped.active
                  .progress-bar.indeterminate.bg-color-darken(role='progressbar') Searching for Trucks
            .overflow-auto.container-fluid(data-ng-if='allTrucks.length == 0 && !loading')
               .row.pointer
                  .col-xs-12.text-align-center
                     div
                        b There are no results!
               .row
                  hr
            .overflow-auto.container-fluid.pointer(data-ng-repeat='truck in allTrucks | orderBy:"name"', data-ui-sref='.details({id: truck.id})', style='color: inherit;')
               .row
                  .col-xs-3
                     img.map-profile-image.img-circle(data-ng-src='{{truck.imageUrl}}')
                  .col-xs-9
                     div
                        b {{truck.name}}
                     span(data-ng-repeat="keywords in truck.keywords")
                        span(data-ng-if="$first") {{keywords}}
                        span(data-ng-if="!$first") , {{keywords}}
               .row
                  hr

            div.overflow-auto.container-fluid
                 .row-pointer(data-ui-sref='map')
                     button.btn.col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.bg-color-pink.txt-color-white View Map

    #top-nav-wrapper
      div(data-ng-include="'/partials/nav.jade'")

    #page-content-wrapper.tm-main
        #content
            div(data-ui-view="")


