#wrapper
    #sidebar-wrapper.bg-color-mold
        div(data-ng-include="'/partials/allTrucks.jade'", style="padding-top:70px;")


    #page-content-wrapper.tm-main
        #content
            div(data-ui-view="")

            .bg-color-mold.visible-xs
                div(data-ng-include="'/partials/allTrucks.jade'")
