#wrapper
   #sidebar-wrapper.bg-color-mold
      .container-fluid.make-space-for-logo.ignore-padding-right
         <div data-ng-include="'/partials/shared/panelLeftMenu.jade'"></div>
         div.col-xs-12(style="padding-top: 30px;")
            .input-group.form-group
               input.form-control(data-ng-model='searchQuery', data-ng-keyup="searchQuery.length > 0 && $event.keyCode == 13 && simpleSearch(searchQuery)")
               span.input-group-btn
                  button.btn.bg-color-pink.txt-color-white(type='button', data-ng-disabled='loading', data-ng-click='simpleSearch(searchQuery)') Search
            .progress(data-ng-show='loading')
               .progress.progress-striped.active
                  .progress-bar.indeterminate.bg-color-darken(role='progressbar') Searching for Trucks
            div.overflow-auto.container-fluid(data-ng-if='allTrucks.length == 0 && !loading')
               .row.pointer
                  .col-xs-12.text-align-center
                     div
                        b There are no results!
               .row
                  hr
            a.overflow-auto.container-fluid(data-ng-repeat='truck in allTrucks', data-ui-sref='truckProfile.truck({id: truck.id})')
               .row
                  .col-xs-3
                     img(data-ng-src='{{truck.imageUrl}}', style='width:50px; height:50px; border-radius:50%;')
                  .col-xs-9
                     div
                        b {{truck.name}}
                     span(data-ng-repeat="keywords in truck.keywords")
                        span(data-ng-if="$first") {{keywords}}
                        span(data-ng-if="$index > $first") , {{keywords}}
               .row
                  hr

            div.overflow-auto.container-fluid
                 .row-pointer(data-ui-sref='map')
                     button.btn.col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.bg-color-pink.txt-color-white View Map

   #top-nav-wrapper
      <div data-ng-include="'/partials/nav.jade'"></div>

   #page-content-wrapper.tm-main
      #content
          div(data-ui-view="")

          .col-xs-12.col-sm-12.col-md-offset-2.col-md-8.col-lg-offset-2.col-lg-8(data-ng-show="!selectedTruck.id")
                 .jarviswidget.jarviswidget-color-blueDark.tm-jarviswidget.background-white-transparent
                     header
                         h2 Welcome!
                     section
                         .col-lg-12.col-md-12.col-sm-9
                             fieldset(class="form-group")
                                 section
                                     article.col-xs-12.col-lg-12(style="font-size:2em; text-align:center; padding: 25px;") Please select a truck from the left to view its profile!

