#wrapper
    #sidebar-wrapper.bg-color-mold
        .container-fluid.make-space-for-logo.ignore-padding-right
            .col-xs-12
                .input-group.form-group
                    input.form-control(data-ng-model='searchQuery', data-ng-disabled='loading' data-ng-keyup="searchQuery.length > 0 && $event.keyCode == 13 && simpleSearch(searchQuery)")
                    span.input-group-btn
                        button.btn.bg-color-pink.txt-color-white(type='button', data-ng-disabled='loading', data-ng-click='simpleSearch(searchQuery)') Search
                .progress-cssSlideUp(data-ng-show='loading')
                    .progress
                        .progress.progress-striped.active
                            .progress-bar.indeterminate.bg-color-darken(role='progressbar') Searching for Trucks
                .overflow-auto.container-fluid(data-ng-if='allTrucks.length == 0 && !loading')
                    .row.pointer
                        .col-xs-12.text-align-center
                            div
                                b There are no results!
                    .row
                        hr
                .overflow-auto.container-fluid.pointer(data-ng-repeat='truck in displayedTrucks | orderBy:"name"', data-ui-sref='.details({id: truck.id})', style='color: inherit;')
                    .row
                        .col-xs-3
                            img.map-profile-image.img-circle(data-ng-src='{{truck.imageUrl}}')
                        .col-xs-9
                            div
                                b {{truck.name}}
                            span(data-ng-repeat="keywords in truck.keywords")
                                span(data-ng-if="$first") {{keywords}}
                                span(data-ng-if="!$first") , {{keywords}}
                    .row
                        hr

    #page-content-wrapper.tm-main
        #content
            div(data-ui-view="")

            #small-screen.bg-color-mold
                .container-fluid.make-space-for-logo.ignore-padding-right
                    .col-xs-12
                        .input-group.form-group(style="padding-top:20px")
                            input.form-control(data-ng-model='searchQuery', data-ng-disabled='loading' data-ng-keyup="searchQuery.length > 0 && $event.keyCode == 13 && simpleSearch(searchQuery)")
                            span.input-group-btn
                                button.btn.bg-color-pink.txt-color-white(type='button', data-ng-disabled='loading', data-ng-click='simpleSearch(searchQuery)') Search
                        .progress-cssSlideUp(data-ng-show='loading')
                            .progress
                                .progress.progress-striped.active
                                    .progress-bar.indeterminate.bg-color-darken(role='progressbar') Searching for Trucks
                        .overflow-auto.container-fluid(data-ng-if='allTrucks.length == 0 && !loading')
                            .row.pointer
                                .col-xs-12.text-align-center
                                    div
                                        b There are no results!
                            .row
                                hr
                        .overflow-auto.container-fluid.pointer(data-ng-repeat='truck in displayedTrucks | orderBy:"name"', data-ui-sref='.details({id: truck.id})', style='color: inherit;')
                            .row
                                .col-xs-3
                                    img.map-profile-image.img-circle(data-ng-src='{{truck.imageUrl}}')
                                .col-xs-9
                                    div
                                        b {{truck.name}}
                                    span(data-ng-repeat="keywords in truck.keywords")
                                        span(data-ng-if="$first") {{keywords}}
                                        span(data-ng-if="!$first") , {{keywords}}
                            .row
                                hr