//Created by maconsuckow on 12/7/14.
div(style="white-space:nowrap")
    strong I'm loaded from an external template, yay!

    div Parameter from opener: {{parameter.message}}

    div Template Specific: {{templateValue}}

