div(data-ng-controller='navCtrl')
    span#tm-logo
        img(src='img/logo.png', alt='TruckMuncher')
    .make-space-for-logo
        div(data-ng-show="loggedIn()")
            div.left-menu.txt-color-white(data-ui-sref-active="menu-active")
                a(data-ui-sref='vendorProfile')
                    i.fa.fa-lg.fa-fw.fa-truck
                    span.menu-item-parent= ' Profile'
            div.left-menu.txt-color-white(data-ui-sref-active="menu-active")
                a(data-ui-sref='menu')
                    i.fa.fa-lg.fa-fw.fa-bars
                    span.menu-item-parent= ' My Menu'
            div.left-menu(ui-sref-active="menu-active")
                a(data-ui-sref='map')
                    i.fa.fa-lg.fa-fw.fa-map-marker
                    span.menu-item-parent= ' Map'

