.jarviswidget.background-white-transparent.jarviswidget-color-blueDark
    header
        h2 Analytics
    section
        .widget-body.background-transparent.col-xs-12
            div.container-fluid
                p
                p TruckMuncher includes measuring tools. We want to learn how you use the app so we can improve it in future updates.
                p The data are seen:
                ul.fa-ul
                    li
                        i.fa-li.fa.fa-check-square-o.fa-lg
                        b Only by us
                    li
                        i.fa-li.fa.fa-square-o
                        | By us and our partners
                p We measure:
                ul.fa-ul
                    li
                        i.fa-li.fa.fa-square-o
                        | Your use of this app
                    li
                        i.fa-li.fa.fa-square-o
                        | Your use of this app and other functions
