.jarviswidget.background-white-transparent.jarviswidget-color-blueDark
    header
        h2 Security
    section
        .widget-body.background-transparent.col-xs-12
            div.container-fluid
                p
                p TruckMuncher does not allow you to access, amend and/or delete your data.
