.jarviswidget.background-white-transparent.jarviswidget-color-blueDark
    header
        h2 Location Services
    section
        .widget-body.background-transparent.col-xs-12
            div.container-fluid
                p
                p These may be sent to:
                ul.fa-ul
                    li
                        i.fa-li.fa.fa-square-o
                        | Geo-tagging content (e.g. photos)
                    li
                        i.fa-li.fa.fa-square-o
                        | Make targeted offers/serve relevant ads
                    li
                        i.fa-li.fa.fa-check-square-o
                        b Serve content relevant to your location
                    li
                        i.fa-li.fa.fa-square-o
                        | Connect the user with friends
                    li
                        i.fa-li.fa.fa-square-o
                        | Help the user navigate
                p Location is shared with:
                ul.fa-ul
                    li
                        i.fa-li.fa.fa-square-o
                        | User's friends
                    li
                        i.fa-li.fa.fa-square-o
                        | User's contacts (the data will be de-identified from the user)
                p Your device allows control whether this app accesses your location or not. Visit your device settings screen/s for more information
