.jarviswidget.background-white-transparent.jarviswidget-color-blueDark
    header
        h2 TruckMuncher, LLC Privacy Policy Information
    section
        .widget-body.background-transparent.col-xs-12
            div
                h1 Overview
                p The TruckMuncher apps and websites were built for people over the age of 13.
                p
                    a(data-ui-sref='privacyPolicy.detail({name: "data-collection"})')= 'View more information '
                    | on data this app collects
                p Information is collected about you so we can:
                ul
                    li Give you the service you wanted
                    li Improve the app over time
                p We also collect data for:
                ul
                    li
                        a(data-ui-sref='privacyPolicy.detail({name: "location-services"})') Location Services
                    li
                        a(data-ui-sref='privacyPolicy.detail({name: "analytics"})') Analytics
                    li
                        a(data-ui-sref='privacyPolicy.detail({name: "social-networking"})') Social Networking
                p Select the options below to see how your information is secured and managed
                ul
                    li
                        a(data-ui-sref='privacyPolicy.detail({name: "security"})') Security & Retention
                    li
                        a(data-ui-sref='privacyPolicy.detail({name: "control"})') Control
            p TruckMuncherLLC does not collect user data for the purposes of advertising, payment processing, or direct marketing
