#wrapper
    #sidebar-wrapper.bg-color-mold
        .container-fluid.make-space-for-logo.ignore-padding-right
            .col-xs-12
                input.form-group.form-control(data-ng-model='search' placeholder='Filter')
                div.animate-repeat(data-ng-repeat='page in pages | filter:search')
                    div.left-menu.txt-color-white(data-ui-sref-active="menu-active")
                        a(data-ui-sref='.detail({name: page.name})', title="page.title")
                            span.menu-item-parent= ' ' + '{{page.title}}'
    #page-content-wrapper.tm-main
        #content
            .slide(data-ui-view="")
