.jarviswidget.background-white-transparent.jarviswidget-color-blueDark
    header
        h2 Security
    section
        .widget-body.background-transparent.col-xs-12
            div.container-fluid
                p
                p The security of your personal information is extremely important. We take the following precautions to make sure it cannot be accessed or altered:
                ul.fa-ul
                    li
                        i.fa-li.fa.fa-check-square-o
                        b Data encrypted in transit
                    li
                        i.fa-li.fa.fa-square-o
                        | Data encrypted in storage
                    li
                        i.fa-li.fa.fa-check-square-o
                        b Industry standard Internal security protocols