.jarviswidget.background-white-transparent.jarviswidget-color-blueDark
    header
        h2 Social Networking
    section
        .widget-body.background-transparent.col-xs-12
            div.container-fluid
                p
                p TruckMuncher is not a social network itself, but it does connect to the following networks:
                ul.fa-ul
                    li
                        i.fa-li.fa.fa-check-square-o
                        b Facebook
                        a(href='https://www.facebook.com/about/privacy')= ' View privacy policy'
                    li
                        i.fa-li.fa.fa-check-square-o
                        b Twitter
                        a(href='https://twitter.com/privacy')= ' View privacy policy'
                p Truckmuncher connects to social networks so you can:
                ul.fa-ul
                    li
                        i.fa-li.fa.fa-check-square-o
                        b Sign-in to the app
                    li
                        i.fa-li.fa.fa-square-o
                        | Promote the app
                    li
                        i.fa-li.fa.fa-square-o
                        | Share content from the app
