.yoyo-in-animation.ng-enter {
  -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  display: block;
  position: relative;
}

@-webkit-keyframes enter {
  from {
    opacity: 0;
    height: 0;
    left: -70px;
  }
  75% {
    left: 15px;
  }
  to {
    opacity: 1;
    height: 30px;
    left: 0;
  }
}

@keyframes enter {
  from {
    opacity: 0;
    height: 0;
    left: -70px;
  }
  75% {
    left: 15px;
  }
  to {
    opacity: 1;
    height: 30px;
    left: 0;
  }
}

.image-cssSlideRight {
  transition: .5s linear all;
  width: 100%;
  overflow: hidden;
}

.image-cssSlideRight.ng-hide {
  width: 0;
}

.progress-cssSlideUp {
  transition: .5s linear all;
  height: 40px;
  overflow: hidden;
}

.progress-cssSlideUp.ng-hide {
  height: 0;
}

@media (max-width: 767px) {
  .hidden-xs-animated {
    visibility: hidden !important;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  }
}


.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
  -o-transform: scaleX(0.0001);
  transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}


.fade.ng-enter, .fade-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-if.ng-enter,
.fade-if.ng-leave.ng-leave-active {
  opacity:0;
}

.fade-if.ng-leave,
.fade-if.ng-enter.ng-enter-active {
  opacity:1;
}