#map {
  height: 100%;
}

@desiredSize: 50px;
.map-profile-image {
  width: @desiredSize;
  height: @desiredSize;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}

.circular-image-wide {
  height: @desiredSize;
  width: auto;
}

.circular-image-tall {
  height: auto;
  width: @desiredSize;
}

.angular-google-map-container, .angular-google-map {
  width: 100%;
  height: 100%;
}

.txt-subscript {
  font-size: 0.7em
}
