//- body.jade
//- This file provides the HTML body part.
body(data-ng-controller='MessageCtrl', style="background-color:#ecf0f1;")

    div(class="col-md-4")
    div(class="col-md-4", style="text-align:center; color:#34495e")
        div(style="margin-top:20%; margin-bottom:20%;")
            font(size=8)
                | Welcome to TruckMuncher!
        h1 Sign in:
        a(href='/auth/facebook' class='btn btn-primary') 
            i.fa.fa-facebook= '  Facebook' 
        a(href='/auth/twitter' class='btn btn-primary') 
            i.fa.fa-twitter= '  Twitter'
    div(class="col-md-4")
        test!
    script(src='/jquery/jquery.js')
    script(src='/angular/angular.js')
    script(src='/bootstrap/bootstrap.js')
    script(src='/js/app/app.js')
    script(src='/js/app/controller.js')
    script(src='/lodash/lodash.compat.js')

