//- body.jade
//- This file provides the HTML body part.
body.menu-on-top(data-ng-controller='cssCtrl', data-ng-class='{"hidden-menu": showMenu}')
    include header
    include leftNav

    #main(role='main')
        #content.container-fluid
            <div data-ui-view></div>

    include partials/auth.jade
    script(src='/js/TruckMuncherApp.js')
    script(src='')
