body
    div(data-growl='')

    #background.col-xs-12(data-tm-background='')

    #top-nav-wrapper
        div(data-ng-include="'/partials/nav.jade'")
    div(style='padding-top:50px')
        div(data-ui-view="")

    include init.jade
    script(src='//maps.googleapis.com/maps/api/js?sensor=false')
    script(src='/js/vendorScripts.js')
    script(src='/js/TruckMuncherApp.js')
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-58621112-1', 'auto');

