//- body.jade
//- This file provides the HTML body part.
body
    //include nav

    div(data-growl='')
    span#tm-logo
        img(src='img/logo.png', alt='TruckMuncher')

    #background.col-xs-12
    <div data-ui-view></div>

    include init.jade
    script(src='//maps.googleapis.com/maps/api/js?sensor=false')
    script(src='/js/vendorScripts.js')
    script(src='/js/TruckMuncherApp.js')
