//- body.jade
//- This file provides the HTML body part.
body.menu-on-top(data-ng-controller='cssCtrl', data-ng-class='{"hidden-menu": showMenu}')
    #main
        #content.container-fluid
            div(style="width:100%; text-align:center; font-size:64px; margin: 5% 0 5% 0; font-weight:bold")
                | Welcome to TruckMuncher!
            span(style="display:block; text-align:center; vertical-align:middle;")
                img(src='img/logo2.png', alt='SmartAdmin', style="height:25%; width:25%;")

            div(style="width:100%; text-align:center; font-size:24px; font-style:italic")
                | We'll munch your truck! ;)




    script(src='/jquery/jquery.js')
    script(src='/angular/angular.js')
    script(src='/lodash/lodash.compat.js')
    script(src='angular-ui-router/angular-ui-router.js')
    script(src='base-64/base64.js')
    script(src='ng-resource/dist/ng-resource.js')
    script(src='/bootstrap/bootstrap.js')
    script(src='/js/app/app.js')
    script(src='/js/app/directives/smart-price.js')
    script(src='/js/app/httpHelperService.js')
    script(src='/js/app/vendors/menu/vendorMenuCtrl.js')
    script(src='/js/app/vendors/menu/menuActionModalCtrl.js')
    script(src='/js/app/vendors/menu/addOrEditItemModalCtrl.js')
    script(src='/js/app/vendors/menu/addOrEditCategoryModalCtrl.js')
    script(src='/js/app/menuService.js')
    script(src='/js/app/truckService.js')
    script(src='/js/app/initCtrl.js')
    script(src='/js/app/authHelpers.js')
    script(src='/js/app/headerCtrl.js')
    script(src='/js/app/navCtrl.js')
    script(src='/js/app/cssCtrl.js')
    script(src='/js/app/vendors/vendorProfileCtrl.js')
    script(src='/lodash/lodash.compat.js')
    script(src='/angular-chosen-localytics/chosen.js')
    script(src='/chosen/chosen.jquery.js')
    //script(src='angular-bootstrap/ui-bootstrap.js')
    script(src='angular-bootstrap/ui-bootstrap-tpls.js')
    div(data-ng-include="'/partials/auth.jade'")
