header#header(data-ng-controller='headerCtrl')
    #logo-group
        // PLACE YOUR LOGO HERE
        span#logo
            img(src='img/logo.png', alt='SmartAdmin')
    .pull-right
        // collapse menu button
        .btn-header.pull-right
            // logout button
            .btn-header.transparent.pull-right
                span(data-ng-show='loggedIn()')
                    a(href="/logout", title='Sign Out')
                        i.fa.fa-sign-out
                span(data-ng-hide='loggedIn()')
                    a(href="/logout", title='Sign In')
                        i.fa.fa-sign-in
            // end logout button
            #hide-menu.transparent.btn-header.pull-right
                span
                    a(href='javascript:void(0);', data-ng-click='toggleMenu()', title='Toggle Menu')
                        i.fa.fa-reorder
