//- index.jade
//- This file defines the view of this app.

doctype html
html(data-ng-app="TruckMuncherApp", data-ng-controller="initCtrl")
    include head
    include body
    div(data-ng-include="'/partials/auth.jade'")
