// Left panel : Navigation area
// Note: This width of the aside area can be adjusted through LESS variables
aside#left-panel(data-ng-controller='navCtrl')
    // User info
    div.login-info
        span
            // User image size is adjusted inside CSS, it should stay as it
            a#show-shortcut(href='javascript:void(0);', data-action='toggleShortcut')
                img.online(src='img/avatars/sunny.png', alt='me')
                span
                    | Name & image here?
    // end user info
    //
         NAVIGATION : This navigation is also responsive
                                To make this navigation dynamic please make sure to link the node
                                (the reference to the nav > ul) after page load. Or the navigation
                                will not initialize.
    nav
        //
             NOTE: Notice the gaps after each icon usage <i></i>..
                                        Please note that these links work a bit different than
                                        traditional href="" links. See documentation for details.
        ul
            li(ui-sref-active="active", data-ng-click='menuItemClicked()()')
                a(data-ui-sref='home', title='Home')
                    i.fa.fa-lg.fa-fw.fa-home
                    span.menu-item-parent Home
            li(ui-sref-active="active", data-ng-click='menuItemClicked()')
                a(data-ui-sref='vendorProfile')
                    i.fa.fa-lg.fa-fw.fa-truck
                    span.menu-item-parent Profile
                ul
                    li(data-ng-click='menuItemClicked()')
                        a test sub menu
            li(ui-sref-active="active", data-ng-click='menuItemClicked()')
                a(data-ui-sref='menu')
                    i.fa.fa-lg.fa-fw.fa-bars
                    span.menu-item-parent My Menu
            li(ui-sref-active="active", data-ng-click='menuItemClicked()')
                a(data-ui-sref='map')
                    i.fa.fa-lg.fa-fw.fa-map-marker
                    span.menu-item-parent Map
