nav.navbar.navbar-default(data-ng-cloak='ng-cloak', data-ng-controller='navCtrl')
    .container-fluid
        .navbar-header
            .visible-xs.btn-header.pull-right
                span
                    a(href="/logout", title='Sign Out', data-ng-show='loggedIn()')
                        i.fa.fa-sign-out
                    a(href="/logout", title='Sign In', data-ng-hide='loggedIn()')
                        i.fa.fa-sign-in
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-brand
                span#logo
                    img(src='img/logo.png', alt='TruckMuncher')

        #navbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav

                li.text-center(ui-sref-active="active")
                    a(data-ui-sref='home', title='Home')
                        i.fa.fa-lg.fa-fw.fa-home
                        span.menu-item-parent Home

                li.text-center(ui-sref-active="active", data-ng-show='loggedIn()')
                    a(data-ui-sref='vendorProfile')
                        i.fa.fa-lg.fa-fw.fa-truck
                        span.menu-item-parent Profile

                    ul
                        li
                            a test sub menu

                li.text-center(ui-sref-active="active", data-ng-show='loggedIn()')
                    a(data-ui-sref='menu')
                        i.fa.fa-lg.fa-fw.fa-bars
                        span.menu-item-parent My Menu
                li.text-center(ui-sref-active="active")
                    a(data-ui-sref='map')
                        i.fa.fa-lg.fa-fw.fa-map-marker
                        span.menu-item-parent Map

            ul.nav.navbar-nav.navbar-right.hidden-xs
                li
                    .btn-header(data-ng-show='loggedIn()')
                        span
                            a(href="/logout", title='Sign Out')
                                i.fa.fa-sign-out
                    .btn-header(data-ng-hide='loggedIn()')
                        span
                            a(href="/logout", title='Sign In')
                                i.fa.fa-sign-in
