// Left panel : Navigation area
// Note: This width of the aside area can be adjusted through LESS variables
aside#left-panel(data-ng-controller='navCtrl')
    nav
        ul
            li(ui-sref-active="active", data-ng-click='menuItemClicked()')
                a(data-ui-sref='home', title='Home')
                    i.fa.fa-lg.fa-fw.fa-home
                    span.menu-item-parent Home
            li(ui-sref-active="active", data-ng-click='menuItemClicked()', data-ng-show='loggedIn()')
                a(data-ui-sref='vendorProfile')
                    i.fa.fa-lg.fa-fw.fa-truck
                    span.menu-item-parent Profile
                ul
                    li(data-ng-click='menuItemClicked()')
                        a test sub menu
            li(ui-sref-active="active", data-ng-click='menuItemClicked()', data-ng-show='loggedIn()')
                a(data-ui-sref='menu')
                    i.fa.fa-lg.fa-fw.fa-bars
                    span.menu-item-parent My Menu
            li(ui-sref-active="active", data-ng-click='menuItemClicked()')
                a(data-ui-sref='map')
                    i.fa.fa-lg.fa-fw.fa-map-marker
                    span.menu-item-parent Map
