//nav#nav-top.navbar.navbar-default(data-ng-cloak='ng-cloak', data-ng-controller='navCtrl')
#nav-top
    .container-fluid(style="float:right")
        div
            span.text-center(ui-sref-active="active")
                a(data-ui-sref='home', title='Home')
                    i.fa.fa-lg.fa-fw.fa-home
                    span.menu-item-parent Home

            span.text-center(ui-sref-active="active", data-ng-show='loggedIn()')
                a(data-ui-sref='vendorProfile')
                    i.fa.fa-lg.fa-fw.fa-truck
                    span.menu-item-parent Profile

            span.text-center(ui-sref-active="active", data-ng-show='loggedIn()')
                a(data-ui-sref='menu')
                    i.fa.fa-lg.fa-fw.fa-bars
                    span.menu-item-parent My Menu
            span.text-center(ui-sref-active="active")
                a(data-ui-sref='map')
                    i.fa.fa-lg.fa-fw.fa-map-marker
                    span.menu-item-parent Map


            span.btn-header(data-ng-show='loggedIn()')
                span
                    a(href="/logout", title='Sign Out')
                        i.fa.fa-sign-out
            span.btn-header(data-ng-hide='loggedIn()')
                span
                    a(href="/logout", title='Sign In')
                        i.fa.fa-sign-in
