//nav#nav-top.navbar.navbar-default(data-ng-cloak='ng-cloak', data-ng-controller='navCtrl')
#nav-top(data-ng-controller='navCtrl')
    .container-fluid(style="float:right")
        div
            span(data-ng-show='loggedIn()')
                span
                    a.nav-bar-sign(href="/logout")
                        i.fa.fa-sign-out
                        |  Sign out
            span(data-ng-hide='loggedIn()')
                span
                    a.nav-bar-sign(href="/logout")
                        i.fa.fa-sign-in
                        |  Sign in
