//- index.jade
//- This file defines the view of this app.

doctype html
html
    include head
    .alert.alert-success(role='alert') You're logged in! You can't get to this page if you aren't logged in! Just try!
    a(href='/logout' class='btn btn-primary') Logout
    span.row= 'Twitter OAuth Token: ' + twitter_oauth_token
    span.row= 'Twitter OAuth Token Secret: ' + twitter_oauth_token_secret
    span.row= 'Twitter Access Token: ' + twitter_access_token
    span.row= 'Facebook Access Token: ' + facebook_access_token
