//- index.jade
//- This file defines the view of this app.

doctype html
html(data-ng-app='vendorApp')
    include head
    body
        .col-xs-12
            a(data-ui-sref="itemDetails")= 'Item Details'
            = ' | '
            a(data-ui-sref="menu") Menu
            = ' | '
            a(href="/logout") Logout
            div(data-ui-view)
            span.row= 'Twitter OAuth Token: ' + twitter_oauth_token
            span.row= 'Twitter OAuth Token Secret: ' + twitter_oauth_token_secret
            span.row= 'Facebook Access Token: ' + facebook_access_token

        script(src='/jquery/jquery.js')
        script(src='/angular/angular.js')
        script(src='angular-ui-router/angular-ui-router.js')
        script(src='ng-resource/dist/ng-resource.js')
        script(src='/bootstrap/bootstrap.js')
        script(src='/js/vendorApp/vendorApp.js')
        script(src='/js/vendorApp/vendorMenuCtrl.js')
        script(src='/js/vendorApp/itemDetailsCtrl.js')
        script(src='/js/vendorApp/FullMenusService.js')
        script(src='/lodash/lodash.compat.js')
