//- index.jade
//- This file defines the view of this app.

doctype html
html(data-ng-app='vendorApp')
    include head
    body(data-ng-controller='initCtrl',
    data-ng-init="initializeTokens('#{twitter_oauth_token}', '#{twitter_oauth_token_secret}', '#{facebook_access_token}')")
        .col-xs-12
            a(data-ui-sref="menu") Menu
            = ' | '
            a(href="/logout") Logout
            div(data-ui-view)

        script(src='/jquery/jquery.js')
        script(src='/angular/angular.js')
        script(src='angular-ui-router/angular-ui-router.js')
        script(src='base-64/base64.js')
        script(src='ng-resource/dist/ng-resource.js')
        script(src='/bootstrap/bootstrap.js')
        script(src='/js/vendorApp/vendorApp.js')
        script(src='/js/vendorApp/vendorMenuCtrl.js')
        script(src='/js/vendorApp/itemDetailsCtrl.js')
        script(src='/js/vendorApp/FullMenusService.js')
        script(src='/js/vendorApp/initCtrl.js')
        script(src='/js/headerHelpers.js')
        script(src='/lodash/lodash.compat.js')
