.container-fluid
    .col-lg-4.col-lg-offset-1.col-md-10.col-md-offset-1.col-xs-12(data-ng-show="selectedTruck.id")
        .row
            article
                .jarviswidget.jarviswidget-color-blueDark.background-white-transparent
                    header
                        h2 Main Profile
                        .jarviswidget-ctrls
                            a.button-icon.jarviswidget-toggle-btn
                                i.fa.fa-star.fa-lg
                                i.fa.fa-star-o.fa-lg
                    section
                        .col-lg-8.col-md-5.col-sm-5.col-xs-4.padding-10
                            img.img-circle.img-size(data-ng-src='{{selectedTruck.imageUrl}}')
                        .col-lg-10.col-md-5.col-sm-5.col-sm-offset-1.col-xs-8.padding-top-15
                            fieldset(class="form-group")
                                section
                                    label.control-label.txt-color-black.header-txt-size(for='truckName') {{selectedTruck.name}}
                                section
                                    span(data-ng-repeat="keywords in selectedTruck.keywords")
                                        span(data-ng-if="$first") {{keywords}}
                                        span(data-ng-if="!$first") , {{keywords}}

        .row(data-ng-if='selectedTruck.phoneNumber || selectedTruck.description')
            article
                .jarviswidget.jarviswidget-color-blueDark.background-white-transparent
                    header
                        h2 About the Truck
                    .col-xs-12
                        section.padding-bottom-10(data-ng-if='selectedTruck.phoneNumber')
                            label
                                b Phone:
                            div {{selectedTruck.phoneNumber}}
                        section(data-ng-if='selectedTruck.description')
                            label
                                b Description:
                            div {{selectedTruck.description}}

        .row(data-ng-if='isOnline')
            article
                .jarviswidget.jarviswidget-color-blueDark.background-white-transparent
                    header
                        h2 Currently Serving
                    section
                        .row.col-md-10.col-md-offset-1
                            article(data-ng-style="{'height': '{{mapHeight}}'}")
                                ui-gmap-google-map(center="map.center", zoom="map.zoom", refresh='true')
                                    ui-gmap-marker(idKey='selectedTruck.id', coords='truckCoords', options='options')
                                        ui-gmap-window
                                            div Our Location




    .col-lg-6.col-lg-offset-0.col-md-10.col-md-offset-1.col-xs-12(data-ng-show="selectedTruck.id")
        article
            .jarviswidget.jarviswidget-color-blueDark.background-white-transparent
                header
                    h2 Menu
                section
                    .progress-cssSlideUp(data-ng-hide='menu')
                        .progress
                            .progress.progress-striped.active
                                .progress-bar.indeterminate.bg-color-darken(role='progressbar') Retrieving Menu
                    div(data-ng-show='menu')
                        div(data-customer-menu='' data-custom-menu-colors='customMenuColors' data-menu='menu')