#wrapper
    #sidebar-wrapper.bg-color-mold.hidden-xs
        .make-space-for-logo(data-ng-include="'/partials/profiles/allTrucks.jade'")


    #page-content-wrapper.tm-main
        #content
            div(data-ui-view="")

            .visible-xs.col-xs-12
                div(data-ng-include="'/partials/profiles/allTrucks.jade'")
