#wrapper
    #sidebar-wrapper.bg-color-mold.hidden-xs
        .make-space-for-logo
            include allTrucks.jade


    #page-content-wrapper.tm-main
        #content
            .visible-xs.col-xs-12.form-group(data-ng-show='$state.includes("truckProfiles.details")')
                a.btn.txt-color-white.bg-color-pink(data-ui-sref='truckProfiles')
                    i.fa.fa-arrow-left= ' Truck List'
            div(data-ui-view="")
            .col-xs-12
                .jarviswidget

            .visible-xs.col-xs-12(data-ng-hide="$state.includes('truckProfiles.details')")
                include allTrucks.jade
