#wrapper
    #sidebar-wrapper.bg-color-mold.hidden-xs
        .make-space-for-logo
            include allTrucks.jade


    #page-content-wrapper.tm-main
        #content
            div(data-ui-view="")

            .visible-xs.col-xs-12
                include allTrucks.jade
