div(style="height:80px; width:200px; overflow-y:auto;" )
    div
        b {{parameter.marker.truckProfile.name}}
    div {{parameter.marker.truckProfile.keywords}}
    div
        button(data-ng-click='parameter.showMenuCallback(parameter.marker.id)') View Menu
