div(style="height:100px; width:200px; overflow-y:auto" )
    .col-xs-3
        .row
            img.map-profile-image.img-circle(data-ng-src='{{parameter.marker.truckProfile.imageUrl}}')
    .col-xs-9(style="padding-left:20px;" data-bootstrap-tooltip data-toggle='tooltip' data-placement='top' title='More Info' )
        .row.pointer(style="padding:0px" data-ui-sref='truckProfiles.details({id: parameter.marker.truckProfile.id})')
            div(style="font-weight:bold; float:left; padding-right:20px;" ) {{parameter.marker.truckProfile.name}}
            i.fa.fa-info-circle
    .col-xs-9(style="padding-left:20px;")
        .row(data-ng-if='marker.metersFromUser')
            .txt-subscript {{parameter.marker.metersFromUser|distance:'miles'|number:2}} mi
        .row
            span(data-ng-repeat="keywords in parameter.marker.truckProfile.keywords")
                span(data-ng-if="$first") {{keywords}}
                span(data-ng-if="!$first") , {{keywords}}
        .row
            div
                button.bg-color-mold.txt-color-white(style="border: none;", data-ng-click='parameter.showMenuCallback(parameter.marker.id)') View Menu
