div.container-fluid(style="height:140px; width:200px; overflow-y:auto" )
    .row.form-group
        .col-xs-3
            img.map-profile-image.img-circle(data-ng-src='{{parameter.marker.truckProfile.imageUrl}}')
        .col-xs-9(style="padding-left:20px;" data-bootstrap-tooltip data-toggle='tooltip' data-placement='top' title='More Info' )
            .pointer(style="padding:0px" data-ui-sref='truckProfiles.details({id: parameter.marker.truckProfile.id})')
                div(style="font-weight:bold; float:left; padding-right:20px;" ) {{parameter.marker.truckProfile.name}}
                i.fa.fa-info-circle
        .col-xs-9(style="padding-left:20px;")
            div(data-ng-if='parameter.marker.metersFromUser')
                .txt-subscript {{parameter.marker.metersFromUser|distance:'miles'|number:2}} mi
            div
                button.btn.btn-sm.bg-color-mold.txt-color-white(data-ng-click='parameter.showMenuCallback(parameter.marker.id)') View Menu
    .row(data-ng-if='parameter.marker.verified')
        .col-xs-12
            i Verified location
        .col-xs-12.small
            span This location has been reported by the owner of {{parameter.marker.truckProfile.name}}.
    .row(data-ng-if='!parameter.marker.verified')
        .col-xs-12.small
            i Unverified location
        .col-xs-12
            div Is this location accurate?
            i.fa.fa-thumbs-o-up.fa-2x.pointer(style='margin-right:20px' data-ng-hide='parameter.marker.userVote')
            i.fa.fa-thumbs-up.fa-2x.pointer(style='margin-right:20px' data-ng-show='parameter.marker.userVote')
            i.fa.fa-thumbs-o-down.fa-2x.pointer(data-ng-hide='parameter.marker.userVote === false')
            i.fa.fa-thumbs-down.fa-2x.pointer(data-ng-show='parameter.marker.userVote === false')
