#wrapper
    #sidebar-wrapper.bg-color-mold.hidden-xs
        .make-space-for-logo
            include onlineList.jade


    #page-content-wrapper.tm-main
        #content
            .col-md-10.col-md-offset-1.form-group
                article(data-ng-style="{'height': '{{mapHeight}}'}")
                    ui-gmap-google-map(center="map.center", data-ng-if='mapHeight' data-refresh='true', zoom="map.zoom", draggable="true", options="map.options", data-ng-style="{'height': '{{mapHeight}}'}")
                        ui-gmap-markers(models='displayedMarkers', idKey='"random"', doCluster='true', coords='"coords"', show='true', click='onMarkerClicked' options='"options"')
                        ui-gmap-window(coords='infoWindow.coords', show='infoWindow.show', templateUrl='infoWindow.templateUrl', templateParameter='infoWindow.templateParameter', closeClick='closeInfoWindow', options='infoWindow.options')
                        ui-gmap-marker(data-ng-if='currentPositionMarker.id', idKey='currentPositionMarker.id', coords='currentPositionMarker.coords', icon='currentPositionMarker.icon')
                            ui-gmap-window(coords='locationWindow.coords', show='locationWindow.show')
                                div Your Position

            .col-xs-12.text-center.form-group(data-ng-hide='loading')
                button.btn.btn-default.bg-color-pink.txt-color-white(data-ng-click='report()') Report Serving Truck

        .bg-color-mold.visible-xs
            include onlineList

