.col-xs-12.background-white-transparent.container-fluid
    .row
        button.btn.btn-xs.btn-default.pointer.pull-right(data-ng-click='close()')
            i.fa.fa-close.fa-2x
    .row
        .progress-cssSlideUp(data-ng-hide='menu')
            .progress
                .progress.progress-striped.active
                    .progress-bar.indeterminate.bg-color-darken(role='progressbar') Retrieving Menu
    .row(data-ng-show='menu')
        div(data-customer-menu='' data-custom-menu-colors='customMenuColors' data-menu='menu')
