.col-xs-12.background-white-transparent.container-fluid
    .row
        i.fa.fa-close.fa-2x.pull-right.pointer(data-ng-click='close()')
    .row
        .progress-cssSlideUp(data-ng-hide='menu')
            .progress
                .progress.progress-striped.active
                    .progress-bar.indeterminate.bg-color-darken(role='progressbar') Retrieving Menu
    .row(data-ng-show='menu')
        div(data-customer-menu='' data-custom-menu-colors='customMenuColors' data-menu='menu')
