.col-xs-12
    form.col-lg-4.col-md-6.col-xs-12.container-fluid(action='/newMenuItem', method='post', role='form')
        .form-group.row
            //label(for='menuItemName', class='form-inline', style='margin:10px') Item Name
            input.form-control(id='itemName', type='text', placeholder='Item Name')
        .form-group.row
            .input-group
                //label.form-control.col-md-1(for='menuItemPrice') Price
                .input-group-addon $
                input.form-control(id='itemPrice', type='text', placeholder='Price')
        .form-group.row
            label.checkbox
                input(type='checkbox')
                | Available