.table-responsive
    table.table.table-bordered
        thead
            tr
                td
                    span= 'Item'
                td
                    span= 'Price'
        tbody
            tr
                td
                    span= 'abcd'
                td
                    span= '1Bil'
