.modal-header Category Details
.modal-body.smart-form
    section
        label.label(for='categoryName') Category Name
        input.form-control(id='categoryName', name='categoryName', type='text', placeholder='Ex: Sandwiches', data-ng-model='category.name')
    section
        label.label(for='categoryNotes') Notes
        input.form-control(id='categoryNotes', type='text', placeholder='Ex: All sandwiches come with free chips and a drink', name='categoryNotes', data-ng-model='category.notes')

.modal-footer
    .form-group.row
        a.btn.btn-default(data-ui-sref='menu', title="Cancel") Cancel
        button.btn.btn-default(data-ng-click='ok()') Submit
