.modal-header Item Details
.modal-body.smart-form
    form(name='itemForm', id='itemForm', focus-invalid-form='', data-ng-submit='itemForm.$valid && submit()')
        section(data-ng-class="{ 'has-error' : itemForm.itemName.$invalid}")
            label.label(for='itemName') Item Name
            .input
                input(id='itemName', name='itemName', type='text', placeholder='Ex: Pizza Burger', data-ng-model='item.name', required='')
        section(data-ng-class="{ 'has-error' : itemForm.itemPrice.$invalid}")
            label.label(for='itemPrice') Price
            .input
                i.icon-prepend.fa.fa-dollar
                input(id='itemPrice', name='itemPrice', data-smart-price='', type='text', placeholder='Ex: 8.50', data-ng-model='item.price', required='')
            .control-label(data-ng-show='itemForm.itemPrice.$error.float') Not a valid price
        section
            label.checkbox
                input(type='checkbox', id="itemAvailable", data-ng-model='item.isAvailable')
                i
                | Available
        section
            div.form-group
                label(for='itemTags') Tags:

                select(id='itemTags', data-chosen, multiple, data-placeholder="Choose a category", data-no-results-text="'Could not find any categories matching'", data-ng-model="item.tags", data-ng-options="c for c in allTags")
        section
            label.label(for='itemNotes') Notes
            .textarea
                textarea(id='itemNotes', placeholder='Ex: Delicious sausage and pizza sauce on a bagel', data-ng-model='item.notes')
        section

.modal-footer
    .form-group.row
        a.btn.btn-default(data-ui-sref='menu', title="Cancel") Cancel
        button.btn.bg-color-mold.txt-color-white(type='submit',  form='itemForm', data-ng-disabled='requestInProgress') Submit
            i.fa.fa-spinner.fa-spin(data-ng-if='requestInProgress')
