.col-xs-12
    form.col-lg-4.col-md-6.col-xs-12.container-fluid(action='/newMenuItem', method='post', role='form')
        .form-group.row
            label.control-label(for='itemName') Item Name
            input.form-control(id='itemName', name='itemName', type='text', placeholder='Pizza Burger')
        .form-group.row
            label.control-label(for='itemPrice') Price
            .input-group
                .input-group-addon $
                input.form-control(id='itemPrice', type='text', placeholder='8.50', name='itemPrice')
        .form-group.row
            label.checkbox
                input(type='checkbox')
                | Available
        .form-group.row
            label.control-label(for='itemNotes') Notes
            textarea.form-control(id='itemNotes', placeholder='A note about the menu item')