div
    div
        a(data-ui-sref='vendorProfile')
            i.fa.fa-lg.fa-fw.fa-truck
            span.menu-item-parent Profile
    div
        a(data-ui-sref='menu')
            i.fa.fa-lg.fa-fw.fa-bars
            span.menu-item-parent My Menu