.row
    article.col-xs-12.col-sm-6.col-md-3.col-md-offset-3
        div.form-group
            label(for='truckList') Profile for Truck:
            select.form-control(id='truckList', data-chosen='', data-ng-model='selectedTruck', ng-options='truck as truck.name for truck in trucks')
        div.form-group
            a.btn.bg-color-blueLight.txt-color-white(data-ng-click='createTruck()', data-ng-disabled='requestInProgress') Create New Truck
.row
    .col-xs-12.col-md-6.col-md-offset-3
        .well.no-padding
            form.smart-form(data-ng-submit='submit()')
                .col-sm-3(data-ng-controller='profileImageUploadCtrl')
                    img.img-responsive(data-ng-src='{{displayImage}}', alt='Profile Image')
                    section
                        .input.input-file
                            span.button Change Image
                                input(type='file', data-nv-file-select='', data-uploader='uploader')
                            input(style="visibility: hidden")
                    section
                        .progress(data-ng-show='progress')
                            .progress.progress-striped.active
                                .progress-bar.bg-color-darken(role='progressbar', style="width: {{progress}}%")
                .col-sm-9
                    fieldset
                        section
                            label.control-label(for='truckName') Truck Name
                            .input
                                input(id='truckName', data-ng-model='selectedTruck.newName')
                        section
                            label.control-label(for='keywords') Keywords
                            tags-input(id='keywords', data-ng-model='tags')
                footer
                    button.btn.btn-primary(data-ng-disabled='requestInProgress') Submit
                    button.btn.btn-default(data-ng-disabled='requestInProgress', data-ng-click='resetTruck(selectedTruck)') Reset
