.row
    .col-xs-12.col-md-6.col-md-offset-3
        .well.no-padding
            form.smart-form(data-ng-submit='submit()')
                header Registration is Free
                fieldset
                    section
                        label.control-label(for='truckName') Truck Name
                        input.form-control(id='truckName', data-ng-model='truckName')
                    section
                        label.control-label Image
                        .input.input-file
                            span.button Browse
                                input(type='file', onchange="this.parentNode.nextSibling.value = this.value")
                            input(readonly='')
                    section
                        label.control-label(for='keywords') Keywords
                        input.form-control(id='keywords', data-ng-model='keywords')
                footer
                    button.btn.btn-default Submit
