.row
    article.col-lg-3.col-md-6.col-sm-9
        div.form-group
            label(for='truckList') Menu for Truck:
            select.form-control(id='truckList', data-chosen='', data-ng-model='selectedTruck', ng-options='truck.id as truck.name for truck in trucks')
        div.form-group
            a.btn.bg-color-blueLight.txt-color-white(data-ui-sref='.addCategory({menuId: selectedTruck})') Add Category
.row
    article.col-lg-6(data-ng-repeat='category in menu.category track by category.id')
        .jarviswidget.jarviswidget-color-blueDark
            header
                h2 {{category.name}}
                .jarviswidget-ctrls
                    a.button-icon.jarviswidget-toggle-btn(title="Delete Category")
                        i.fa.fa-trash.fa-lg
                .jarviswidget-ctrls
                    a.button-icon.jarviswidget-toggle-btn(data-ui-sref='.editCategory({categoryId: category.id})', href="", title='Edit Category')
                        i.fa.fa-edit.fa-lg
            div
                .widget-body
                    p {{category.notes}}
                    .table-responsive
                        table.table.table-bordered.table-hover
                            thead
                                tr
                                    th
                                        span Item
                                    th
                                        span Price
                                    th(colspan='2')
                            tbody
                                tr(data-ng-repeat='item in category.menuItem track by id')
                                    td(style='width:80%')
                                        span
                                            b {{item.name}}:
                                        =  ' {{item.notes}}'
                                    td
                                        span {{item.price | currency:"$":0}}
                                    td(style='border-right:0px')
                                        a(data-ui-sref='.editItem({itemId: item.id})', title="Edit Item")
                                            i.fa.fa-edit.fa-lg
                                    td(style='border-left:0px')
                                        a(href='' title="Delete tem")
                                            i.fa.fa-trash.fa-lg
                                tr.pointer(data-ng-click='addItem(category.id)', )
                                    td.borderit.text-center(colspan='4')
                                        span Add Item

<div data-ui-view></div>
