#wrapper(data-ng-show='user')
    #sidebar-wrapper.bg-color-mold.hidden-xs
        .make-space-for-logo
            include favoriteList

    #page-content-wrapper.tm-main
        #content
            .col-xs-12.col-lg-6.col-lg-offset-3.col-md-10.col-md-offset-1
                .jarviswidget.jarviswidget-color-blueDark.tm-jarviswidget.background-white-transparent(data-ng-show='isVendor', data-ng-cloak)
                    header
                        h2 Vendor Settings
                    form.background-transparent(data-ng-submit='submit()' name="userForm" id="userForm")
                        .col-xs-12
                            p
                            fieldset(class="form-group")
                                h4 Social Media Forwarding
                                .form-group
                                    small Post to your linked social media pages when you go into serving mode.
                                .smart-form
                                    label.checkbox(for='postToTw' data-ng-show='user.twUsername')
                                        input.form-control(type='checkbox' id='postToTw', data-ng-model='user.postToTw')
                                        i
                                        = 'Post to Twitter'
                                    label.checkbox(for='postToFb' data-ng-show='user.fbUsername')
                                        input(type="checkbox" id='postToFb', data-ng-model='user.postToFb')
                                        i
                                        = 'Post to Facebook'
                            .pull-right
                                button.btn.bg-color-mold.txt-color-white.submit-button(data-ng-disabled='requestInProgress') Save Changes
                                    i.fa.fa-spinner.fa-spin(data-ng-if='requestInProgress')
                .jarviswidget.jarviswidget-color-blueDark.tm-jarviswidget.background-white-transparent
                    header
                        h2 Social Media Accounts
                    .col-xs-12
                        p
                        fieldset(class="form-group")
                            .form-group
                                div(data-ng-if='user.twUsername')
                                    a.btn.txt-color-black.twitter(data-ng-click='unlinkAccounts(true, false)' data-ng-disabled='requestInProgress')
                                        i.fa.fa-twitter= '  Unlink Twitter Account: {{user.twUsername}}'
                                div(data-ng-if='!user.twUsername')
                                    a.btn.txt-color-black.twitter(href='/linkAccount/twitter')
                                        i.fa.fa-twitter= '  Link a Twitter Account'
                            .form-group
                                div(data-ng-if='user.fbUsername')
                                    a.btn.txt-color-black.facebook(data-ng-click='unlinkAccounts(false, true)' data-ng-disabled='requestInProgress')
                                        i.fa.fa-facebook= '  Unlink Facebook Account: {{user.fbUsername}}'
                                div(data-ng-if='!user.fbUsername')
                                    a.btn.txt-color-black.facebook(href='/linkAccount/facebook')
                                        i.fa.fa-facebook= '  Link a Facebook Account'
                .alert.alert-info(data-ng-show='!isVendor')
                    span.padding-10 Are you a vendor?
                    a.btn.bg-color-pink.txt-color-white(data-ng-click='createTruck()', data-ng-disabled='requestInProgress') Create a Truck

            .visible-xs.col-xs-12
                include favoriteList
