#wrapper
    #sidebar-wrapper.bg-color-mold.hidden-xs
        .make-space-for-logo
            h1 Nothing here yet


    #page-content-wrapper.tm-main
        #content
            div
                h1 Nothing here yet

            .visible-xs.col-xs-12
                h1 Nothing here yet
