// Add anything custom here -- mixins, variable overrides.
// by adding things here instead of overriding existing .LESS files, it makes merging changes on product updates easier
@import "../custom/animations";
@import "../custom/form-fields.less";
@import "../custom/map-page.less";
@import "../custom/login-page.less";

.logo-container {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.featurette-title {
  font-size: 30px;
  font-weight: 400;
  color: #333;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .featurette-title {
    font-size: 40px;
  }

  .logo-container {
    max-width: 20%;
  }
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}


@topPanelHeight: 75px;
.fixed-height-palette {
  height: 150px;
}

.overflow-auto {
  overflow-x: auto;
  overflow-y: auto;
}

#panel-left {
  width: 0px;
  display: block;
  overflow: hidden;
  position: absolute;
  top: @topPanelHeight;
  left: 0;
  z-index: 904;
  min-height: 100%;
  color: white;
}

#top-nav-wrapper {
  overflow-y: auto;
  padding-left: 0px;
  position: relative;
}

.tm-main {
  background: none;
}

.left-menu {
  padding-left: 20px;
  height: 30px;
  font-size: 1.5em;
  color: white;
  border-bottom-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.left-menu > a {
  color: #ffffff;
}

.nav-bar-sign {
  text-align: center;
  border: solid;
  border-width: 1px;
  padding: 3px 20px;
  height: 40px;
  font-size: 1.75em;
  background: white;
  color: black;
}

.btn-pink {
  border: solid;
  border-width: 1px;
  font-size: 1em;
  -moz-border-radius: 10px;
  background: @truckMuncherPinkBase;
  color: white;
}

.add-space-sidelabel {
  padding: 20px 10px 0px 10px;
}

.ignore-padding-right {
  padding-right: 0px;
}

.ignore-height {
  height: auto !important;
}

.more-padding-left {
  padding-left: 30px;
}

.more-padding-right {
  padding-right: 30px;
}

.menu-active > a {
  color: white;
  padding-left: 30px;
}

.menu-active {
  background: black;
  color: white;
}

#background {
  position: fixed;
  min-height: 100%;
  z-index: 0;
  background-image: url("/img/MkeBackground.jpg");
}

.pointer {
  cursor: pointer;
}

//make chosen selects fluid
.chosen-container {
  width: 100% !important;
}

.fa.pointer:hover, .fa.pointer:hover {
  color: #3276b1;
}

td.pack-column {
  width: 1px;
}

td.merge-with-right {
  border-right: 0 !important;
}

td.merge-with-left {
  border-left: 0 !important;
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak, .data-ng-cloak, [data-ng-cloak] {
  display: none !important;
}

@logoHeight: 120px;
#tm-logo img {
  position: absolute;
  height: 60px;
  width: auto;
  z-index: 999999;
  top: 10px;
  left: 50px;
}

#tm-logo {
  margin-top: 0px;
}

.submit-button {
  margin-right: 10px;
  margin-bottom: 10px;
}


.panel-body {
  padding: 30px;
}


.sign-out {
  font-weight: normal;
}

h2 {
  margin: 0;
}

.color-blob {
  display: inline-block;
  margin: 3px 3px 3px 3px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 10px;
  line-height: 50px;
  text-align: center;
  box-shadow: 2px 2px 2px #888888;
  .pointer
}

 .color-blob:hover{
  box-shadow: 5px 5px 5px #888888;
}

.light-text {
  color: white;
}

.progress-bar.indeterminate {
  width: 100%;
}

.navbar-brand {
  padding-top: 0;
}

.growl {
  top: @logoHeight;
  z-index: 99999999;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: url(chosen-sprite.png) -42px 2px no-repeat;
}

.big-cell {
  width: 100%;
}

.make-space-for-logo {
  margin-top: 40px;
}

/************ style **************/
@truckMuncherMoldBase : #009688;
@truckMuncherPinkBase : #e91e63;

.bg-color-mold {
  background-color: @truckMuncherMoldBase !important;
}

.txt-color-mold {
  color: @truckMuncherMoldBase !important;
}

.txt-color-black {
  color: black;
}

.background-white-transparent {
  background: rgba(255, 255, 255, 0.85)
}

.background-transparent {
  background: rgba(255, 255, 255, 0);
}

.padding-left-50 {
  padding-left: 50px;
}

.show-panel {
  float: left;
  padding-top: 20px;
  z-index: 1001;
  position: relative;
}

.login-out {
  float: right;
  padding: 20px;
  z-index: 0;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  margin-right: 0;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-height: 100%;
}

#sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

@media (min-width: 768px) {
  #tm-logo img {
    position: absolute;
    height: 120px;
    width: auto;
    z-index: 999999;
    top: 15px;
    left: 40px;
  }

  #page-content-wrapper {
    padding: 20px 0 0 250px;
    position: relative;
  }

  .make-space-for-logo {
    margin-top: 70px;
  }

  #top-nav-wrapper {
    overflow-y: auto;
    padding-left: 0;
    position: relative;
  }

  #login-logo-font {
    font-size: 5.5em;
  }
}
