// Add anything custom here -- mixins, variable overrides.
// by adding things here instead of overriding existing .LESS files, it makes merging changes on product updates easier
@import "../custom/animations";
@import "../custom/form-fields.less";

#map{
  height:100%;
}

@topPanelHeight: 75px;
.fixed-height-palette {
  height: 150px;
}

@font-face {
  font-family: "DimitriSwank";
  src: url("/fonts/dimis.ttf") /* TTF file for CSS3 browsers */
}

.logo-font {
  font-family: "DimitriSwank", sans-serif;
}

#login-logo-font {
  color: black;
  font-size: 4em;
}

#panel-left {
  width: 0px;
  display: block;
  overflow: hidden;
  position: absolute;
  top: @topPanelHeight;
  left: 0;
  z-index: 904;
  min-height: 100%;
  color: white;
}

#top-nav-wrapper {
  z-index: 1001;
  height: @topPanelHeight;
  overflow-y: auto;
  background: #DBDBDB;
  padding-left: 0px;
  position: relative;
}

.tm-main {
  background: none;
}

.tm-main.with-left-panel {
  margin-left: 0px;
  background: none;
}

.left-menu {
  margin: 10px;
  padding-left: 20px;
  height: 30px;
  font-size: 1.5em;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  color: black;
}

.nav-bar-sign {
  text-align: center;
  border: solid;
  border-width: 1px;
  padding: 3px 20px;
  height: 40px;
  font-size: 1.75em;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  color: black;
}

.create-truck {
  border: solid;
  border-width: 1px;
  font-size: 1em;
  -moz-border-radius: 10px;
  border-radius: 10px !important;
  background: @truckMuncherPinkBase;
  color: white;
}

.left-menu > a {
  color: black;
}

.menu-active > a {
  color: white;
}

.menu-active {
  background: black;
  color: white;
}

#background {
  position: fixed;
//  top: @topPanelHeight;
  min-height: 100%;
  z-index: 0;
  background-image: url("/img/MkeBackground.jpg");
}

.pointer {
  cursor: pointer;
}

//make chosen selects fluid
.chosen-container {
  width: 100% !important;
}

.fa.pointer:hover, .fa.pointer:hover {
  color: #3276b1;
}

td.pack-column {
  width: 1px;
}

td.merge-with-right {
  border-right: 0 !important;
}

td.merge-with-left {
  border-left: 0 !important;
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak, .data-ng-cloak, [data-ng-cloak] {
  display: none !important;
}

@logoHeight: 120px;
#tm-logo img {
  position: absolute;
  height: 60px;
  width: auto;
  z-index: 999999;
  top: 10px;
  left: 50px;
}

#tm-logo {
  margin-top: 0px;
}

#facebookBtn {
  width: 35%;
  margin-right: 5px;
  padding: 10px;
  background-color: #3B5998;
}

#twitterBtn {
  width: 35%;
  margin-left: 5px;
  padding: 10px;
  background-color: #55ACEE;
}

.center-span {
  display: block;
  text-align: center;
  vertical-align: middle;
}

.center-logo {
  height: 25%;
  width: 10%;
}

.center-header {
  width: 100%;
  text-align: center;
  font-size: 64px;
  padding-bottom: 5%;
}

#login-panel {
  display: block;
  position: relative;
  padding: 2px;
  color: white;
  background: rgba(0, 150, 136, .5)
}

.panel-body {
  padding: 30px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
  max-width: none;
}

.angular-google-map-container, .angular-google-map {
  width: 100%;
  height: 100%;
}

.sign-out {
  font-weight: normal;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
  max-width: none;
}

h2 {
  margin: 0;
}

.color-blob {
  display: inline-block;
  margin: 3px 3px 3px 3px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 10px;
  line-height: 50px;
  text-align: center;
  .pointer
}

.light-text {
  color: white;
}

.progress-bar.indeterminate {
  width: 100%;
}

.navbar-brand {
  padding-top: 0;
}

.growl {
  top: @logoHeight;
  z-index: 99999999;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: url(chosen-sprite.png) -42px 2px no-repeat;
}

.big-cell {
  width: 100%;
}

.make-space-for-logo{
  margin-top: 0px;
}

/************ style **************/
@truckMuncherMoldBase : #009688;
@truckMuncherPinkBase : #e91e63;

.bg-color-mold {
  background-color: @truckMuncherMoldBase !important;
}

.txt-color-mold{
  color: @truckMuncherMoldBase !important;
}

.txt-color-black {
  color: black;
}

.background-white-transparent {
  background: rgba(255, 255, 255, 0.85)
}

.background-transparent {
  background: rgba(255, 255, 255, 0);
}



.show-panel {
  float: left;
  visibility: visible;
  font-size: 2em;
  padding-top: 20px;
}

.login-out {
  float: right;
  padding: 20px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media(min-width:768px) {
  .show-panel {
    float: left;
    visibility: hidden;
  }

  #tm-logo img {
    position: absolute;
    height: 120px;
    width: auto;
    z-index: 999999;
    top: 15px;
    left: 40px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px 0px 0px 250px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  .tm-main.with-left-panel {
    padding-left: 250px;
    background: none;
  }

  .make-space-for-logo{
    margin-top: 70px;
  }

}
