// need to override just one or two small stylistic things and don't want to edit the main .less files?  Add those overrides here

#logo img {
  height: 49px;
  width: auto;
}

#logo {
  margin-top: 0px;
  margin-left:0px;
  width:inherit;
}

.menu-on-top #main {
  margin-top:0px!important;
}

.menu-on-top .menu-item-parent {
  overflow: inherit;
  max-width: initial;
  min-width: initial;



}

nav ul {
  width: inherit;
}



